.box {
  background-color: white;
  cursor: pointer;
  // border: 5px solid rgb(214, 172, 172);
  height: 30%;
  display: flex;
  .left-side {
    // width: 30%;
    // border: 5px solid red;
    img {
      width: 500px;
      height: 500px;
    }
  }
  .right-side {
    margin: 20px;

    // background-color: rgb(60, 205, 34);
    h1 {
      margin: 20px 10px;
      padding: 20px;

      font: 5rem;
      color: rgb(10, 10, 10);
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 3px;
      word-spacing: 2px;
    }

    .rating {
      margin: 20px 10px;
      font-size: 3rem;
      padding-left: 50px;
    }
    .price {
      margin: 20x 10px;
      font-size: 3rem;
      font-family: cursive;
      padding-left: 50px;

    }
    .button {
      margin: 20px 10px;
      padding-left: 50px;

      button {
        width: 400px;
        height: 70px;
        border-radius: 50px;
        font-size: 2rem;
        font-family:serif;
        cursor: pointer;
        
        background-color: rgb(106, 199, 95);
    color: white;
    border: none;
      }
    }
  }
}
